.pd-bottom4 {
  padding-bottom: 4px;
}

.pd-bottom16 {
  padding-bottom: 16px;
}

.pd-bottom8 {
  padding-bottom: 8px;
}

.pd-bottom12 {
  padding-bottom: 12px;
}

.pd-top4 {
  padding-bottom: 4px;
}

.pd-top16 {
  padding-bottom: 16px;
}

.pd-top8 {
  padding-bottom: 8px;
}

.pd-top12 {
  padding-bottom: 12px;
}

.mr-bottom4 {
  margin-bottom: 4px;
}

.mr-bottom16 {
  margin-bottom: 16px;
}

.mr-bottom8 {
  margin-bottom: 8px;
}

.mr-bottom12 {
  margin-bottom: 12px;
}

.mr-top4 {
  margin-bottom: 4px;
}

.mr-top16 {
  margin-bottom: 16px;
}

.mr-top8 {
  margin-bottom: 8px;
}

.mr-top12 {
  margin-bottom: 12px;
}
